//Reset
@import "core/reset";
@import "core/typography-reset";

//All base classes for elements are in plugins/base
@import "plugins/plugins";

// Core setup for the website
@import "core/core";

@import "modules/modules";
@import "layouts/layouts";

#app{
   @include outer-container(100%);
   height:100%;
}
