.session-container{
  @include outer-container(100%);
  @include size(100% 100%);
  background: url("../../images/login/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow:hidden;
  .session {
    @include padding(10% null);

    @include media($xlg-desktop){
      @include span-columns(4);
      @include shift(4);
    }
    @include media($lg-desktop){
      @include span-columns(4);
      @include shift(4);
    }
    @include media($desktop){
      @include padding(2% null);
      @include span-columns(6);
      @include shift(3);
    }
    @include media( $tablet ) {
      @include span-columns(6);
      @include shift(1);
      
    }
    @include media( $mobile ) {
      overflow:scroll;
      @include span-columns(3);
    }

    .ui-form {
      @include padding(60px 35px null);
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
      h4 {
        font-size: $font-size-h4;
        line-height: $base-line-height;
        @include margin(15px 0px 25px 0px);
        color: $white;
      }
      form {
        @include row();
        margin-bottom: 15px;
        color: #fff;
        ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
        .button {
          @include media($lg-desktop){
            @include span-columns(8);
            @include shift(2);
          }
          @include media($desktop){
            @include span-columns(8);
            @include shift(2);
          }
          @include media( $tablet ) {
            @include span-columns(6);
            @include shift(1);
          }
          @include media( $mobile ) {
            @include span-columns(3);
          }
          @include span-columns(4);
          @include shift(1);
          @include margin(15px null 15px null);
          @include omega;
          border: 1px solid rgba(255, 255, 255, 0.5);
          text-transform: uppercase;
          font-weight: 600;
          border-radius: 25px;
          background: transparent;
          color: $white;
          @include transition(all,0.5s, ease);
          &:hover {
            color: #666;
            background: #fff;
          }
        }
      }
    }
  }
}

